@CHARSET "UTF-8";

h1 {
	text-align: center;
	color: black;
}

h3 {
	text-align: center;
}

img {
	border: 1.5px solid #e6e6e6;
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
  	-moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
  	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    overflow: hidden;
}

.valid {
	color: green;
	font-size: small;
}

.error {
	color: red;
	font-size: small;
}

.challenges {
	text-align: center;
}

.challengeHeader {
	margin: auto auto;
	display: block;
	text-align: center;
}

.img {
	max-width: 250px;
  	margin: 0 auto;
  	display: block;
}

