@CHARSET "UTF-8";

h1 {
	text-align: center;
	color: black;
}

body {
	background-color: #616161;
	font-family: "Arial Black", Gadget, sans-serif;
}

h3 {
	text-align: center;
}




.navbar-default {
	background-color: #212121; /* the dark grey nav bar background */
	height: 75px;
	border-radius: 0px !important; box-shadow : none !important;
	-webkit-box-shadow : none !important;
	border-left: none !important;
	border-right: none !important;
	border-top: none !important; border-color : #03A9F4;
	font-family: "Arial Black", Gadget, sans-serif;
	border-color: #03A9F4;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}
/* title */
.navbar-default .navbar-brand {
	height: 75px;
	color: white;
	font-size: 25px;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus
	{
	color: #03A9F4; /* light blue on hover for brand */
	height: 75px;
}
/* link */
.navbar-default .navbar-nav>li>a {
	color: white;
	padding-top: 26px;
	font-size: 15px;
	height: 74px;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus
	{
	color: #03A9F4; /* light blue on hover for links */
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover,
	.navbar-default .navbar-nav>.active>a:focus {
	color: white;
	background-color: red;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover,
	.navbar-default .navbar-nav>.open>a:focus {
	color: white;
	background-color: #03A9F4; /* light blue drop down bg color */
}
/* caret */
.navbar-default .navbar-nav>.dropdown>a .caret {
	border-top-color: #03A9F4; /* light blue drop down bg color */;
	border-bottom-color: red;
}

.navbar-default .navbar-nav>.dropdown>a:hover .caret, .navbar-default .navbar-nav>.dropdown>a:focus .caret
	{
	border-top-color: #03A9F4; /* light blue drop down bg color */
	border-bottom-color: gray;
}

.navbar-default .navbar-nav>.open>a .caret, .navbar-default .navbar-nav>.open>a:hover .caret,
	.navbar-default .navbar-nav>.open>a:focus .caret {
	border-top-color: white;
	border-bottom-color: gray;
}
/* mobile version */
.navbar-default .navbar-toggle {
	border-color: white;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus
	{
	background-color: #03A9F4; /* light blue drop down bg color */;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: white;
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus
	{
	background-color: white !important;
}

/* jquery ui accordion */
.ui-accordion-content {
	
}

.ui-accordion-header {
	background: #3e3e3e;
	height: 50px;
	color: white;
	font-family: "Arial Black", Gadget, sans-serif;
	border: 1px solid white;
	-webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	overflow: hidden;
	
}


.ui-accordion-header:hover {
		color: #03A9F4;
}

.ui-accordion {
	
}

/* MY CSS */

.loginForm {
	margin-right: auto;
	margin-left: auto;
	width: 200px;
}

.valid {
	color: green;
	font-size: small;
}

.error {
	color: red;
	font-size: small;
}

.challengeImg {
	border: 1.5px 1.5px 0 1.5px solid #e6e6e6;
	-webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	overflow: hidden;
}

.selectChallengeButton {
	font-family: "Arial Black", Gadget, sans-serif !important;
	width: 245px;
	margin-right: auto;
	margin-left: auto;
	border-top-left-radius: 0px !important;
	border-top-right-radius: 0px !important;
	background-color: #03A9F4 !important;
}

.lowLevel {
	font-family: "Arial Black", Gadget, sans-serif;
	width: 245px;
	margin-right: auto;
	margin-left: auto;
	border-top-left-radius: 0px !important;
	border-top-right-radius: 0px !important;
	background-color: #212121 !important;
	border-color: #212121 !important;
	margin-bottom: 17px;
}

.lowLevel:hover {
	cursor: default !important;
}


.selectChallengeButton:hover {
	color: #212121;
}
