@CHARSET "UTF-8";

h1 {
	text-align: center;
	color: black;
}

body {
	background-color: #616161;
	font-family: "Arial Black", Gadget, sans-serif;
}

h3 {
	text-align: center;
}

.navbar-default {
	background-color: #212121; /* the dark grey nav bar background */
	height: 90px;
	border-radius: 0px !important;
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
	border-left: none !important;
	border-right: none !important;
	border-top: none !important;
	border-color: #03A9F4;
	font-family: "Arial Black", Gadget, sans-serif;
	border-color: #03A9F4;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

/* title */
.navbar-default .navbar-brand {
	height: 90px;
	color: white;
	font-size: 25px;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus
	{
	color: #03A9F4; /* light blue on hover for brand */
	height: 75px;
}
/* link */
.navbar-default .navbar-nav>li>a {
	color: white;
	padding-top: 35px;
	font-size: 17px;
	height: 74px;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus
	{
	color: #03A9F4; /* light blue on hover for links */
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover,
	.navbar-default .navbar-nav>.active>a:focus {
	color: white;
	background-color: red;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover,
	.navbar-default .navbar-nav>.open>a:focus {
	color: white;
	background-color: #03A9F4; /* light blue drop down bg color */
}
/* caret */
.navbar-default .navbar-nav>.dropdown>a .caret {
	border-top-color: #03A9F4; /* light blue drop down bg color */;
	border-bottom-color: red;
}

.navbar-default .navbar-nav>.dropdown>a:hover .caret, .navbar-default .navbar-nav>.dropdown>a:focus .caret
	{
	border-top-color: #03A9F4; /* light blue drop down bg color */
	border-bottom-color: gray;
}

.navbar-default .navbar-nav>.open>a .caret, .navbar-default .navbar-nav>.open>a:hover .caret,
	.navbar-default .navbar-nav>.open>a:focus .caret {
	border-top-color: white;
	border-bottom-color: gray;
}
/* mobile version */
.navbar-default .navbar-toggle {
	border-color: white;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus
	{
	background-color: #03A9F4; /* light blue drop down bg color */;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: white;
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus
	{
	background-color: white !important;
}

/* jquery ui accordion */
.ui-accordion-content {
	
}

.ui-accordion-header {
	background: #3e3e3e;
	height: 50px;
	color: white;
	font-family: "Arial Black", Gadget, sans-serif;
	border: 1px solid white;
	-webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	overflow: hidden;
}

.ui-accordion-header:hover {
	color: #03A9F4;
}

.ui-accordion {
	
}

/* MY CSS */
.loginForm {
	margin-right: auto;
	margin-left: auto;
	width: 200px;
}

.valid {
	color: green;
	font-size: small;
}

.error {
	color: red;
	font-size: small;
}

.challengeImg {
	border: 1.5px 1.5px 0 1.5px solid #e6e6e6;
	-webkit-box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.3);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	overflow: hidden;
}

.selectChallengeButton {
	font-family: "Arial Black", Gadget, sans-serif !important;
	width: 245px;
	margin-right: auto;
	margin-left: auto;
	border-top-left-radius: 0px !important;
	border-top-right-radius: 0px !important;
	background-color: #03A9F4 !important;
	-webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.3);
}

.selectChallengeButton:hover {
	color: #212121;
}

.lowLevel {
	font-family: "Arial Black", Gadget, sans-serif;
	width: 245px;
	margin-right: auto;
	margin-left: auto;
	border-top-left-radius: 0px !important;
	border-top-right-radius: 0px !important;
	background-color: #212121 !important;
	border-color: dimgray !important;
	margin-bottom: 17px;
	-webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.3);
}

.lowLevel:hover {
	cursor: default !important;
}

.myButton {
	font-family: "Arial Black", Gadget, sans-serif !important;
	margin-right: auto;
	margin-left: auto;
	background-color: #03A9F4 !important;
	-webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.3);
}

.myButton:hover {
	color: #212121;
}

.quote {
	border-top: 1.5px solid #03A9F4;
	text-align: left;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 15px;
	background-color: gray;
	color: white;
	padding-left: 5%;
	padding-top: 5px;
	text-align: left;
}

.description {
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 15px;
	margin-top: 0;
	color: white;
}

.quote .author {
	padding-left: 10%;
}

.footer {
	color: white;
	height: 500px;
	margin-top: 10em;
	background-color: #212121;
	font-family: "Arial Black", Gadget, sans-serif;
}

.footer .logo_section h1 {
	color: #03A9F4;
	margin: -10px 0 5px 0;
}

.footer .logo_section {
	background-color: #333333;
	padding-top: 30px;
	padding-bottom: 20px;
	padding-left: 20%;
	padding-right: 20%;
	text-align: center;
}

.logo {
	margin: 0;
	padding: 0;
}

.logo a, .logo a:hover {
	text-decoration: none;
	background-color: transparent;
	color: red;
}

.footer_nav_social {
	padding: 10px;
	margin: 1px 0 1px 0;
	background-color: #212121;
}

.footer ul {
	list-style-type: none;
	text-align: center;
	margin: 0;
	padding: 0;
}

.footer li {
	padding-right: 5px;
	display: inline;
	margin-right: 10px;
	margin-top: 1px;
	margin-bottom: 1px;
}

.svg {
	width: 100%;
	height: auto;
	margin-top: -20px;
}

#myProfile {
	text-align: left;
	margin: 0px 0 5px 15px;
	color: white;
}

.profileHeader {
	width: 100%;
	background-color: #212121;
	margin: 10px 0 10px 0;
	padding: 20px 20px 100px 15px;
	color: white;
}

.profileElements {
	
}

.profilePicture {
	border: 2px solid black;
	-webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.3);
	border-radius: 2px;
	overflow: hidden;
	width: 200px;
	height: 200px;
}

.fieldSpace {
	margin-bottom: 7px;
	margin-left: 5px;
}

.fieldTitle {
	color: white;
}

.formElements td {
	
}